<!DOCTYPE html>
<html>
<head>
  <title>Webpack Rails Demo</title>
  <% if Rails.env.development? %>
    <%= javascript_include_tag 'http://localhost:3001/build/bundle.styles.js' %>
    <%= javascript_include_tag 'http://localhost:3001/build/bundle.app.js' %>
  <% else %>
    <%= javascript_include_tag '/build/bundle.styles.js' %>
    <%= javascript_include_tag '/build/bundle.app.js' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
